web/WEB-INF/xsd/Application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:str="String">
	<xs:import namespace="String" schemaLocation="String.xsd"/>
	<xs:element name="application">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pageTitle" type="str:String" minOccurs="1" maxOccurs="1"/>
				<xs:element name="applicationFolder" type="xs:string" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="applicationId" type="xs:int" use="required"/>
			<xs:attribute name="Class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
