web/WEB-INF/xsd/ViewMetaData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Danny Cohn (Independent Consultant) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:str="String" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="String" schemaLocation="String.xsd"/>
	<xs:element name="viewMetaData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="window" type="ModalWindow" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="notification" type="Notification" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="item" type="Item" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ItemSet">
		<xs:sequence>
			<xs:element name="item" type="Item" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NotificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="error"/>
			<xs:enumeration value="success"/>
			<xs:enumeration value="warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Notification">
		<xs:sequence>
			<xs:element name="text" type="str:String" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="hideAfterMs" type="xs:int" use="optional"/>
		<xs:attribute name="type" type="NotificationType" use="required"/>
	</xs:complexType>
	<xs:simpleType name="ModalWindowIcon">
		<xs:restriction base="xs:string">
			<xs:enumeration value="error"/>
			<xs:enumeration value="info"/>
			<xs:enumeration value="question"/>
			<xs:enumeration value="warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ModalWindow" abstract="true"/>
	<xs:complexType name="MessageBox">
		<xs:complexContent>
			<xs:extension base="ModalWindow">
				<xs:sequence>
					<xs:element name="text" type="str:String" minOccurs="1" maxOccurs="1"/>
					<xs:element name="title" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="icon" type="ModalWindowIcon" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Alert">
		<xs:complexContent>
			<xs:extension base="MessageBox">
				<xs:sequence>
					<xs:element name="listener" type="Listener" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Confirm">
		<xs:complexContent>
			<xs:extension base="MessageBox">
				<xs:sequence>
					<xs:element name="listener" type="Listener" minOccurs="0" maxOccurs="3"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Prompt">
		<xs:complexContent>
			<xs:extension base="MessageBox">
				<xs:sequence>
					<xs:element name="defaultValue" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="listener" type="Listener" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
				<xs:attribute name="multiline" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="HideMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="display"/>
			<xs:enumeration value="visibility"/>
			<xs:enumeration value="offsets"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Item" abstract="true">
		<xs:sequence>
			<xs:element name="listener" type="Listener" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="anchor" type="xs:string"/>
		<xs:attribute name="colspan" type="xs:int"/>
		<xs:attribute name="cellId" type="xs:string"/>
		<xs:attribute name="cellCls" type="xs:string"/>
		<xs:attribute name="flex" type="xs:int"/>
		<xs:attribute name="height" type="xs:int"/>
		<xs:attribute name="hidden" type="xs:boolean"/>
		<xs:attribute name="hideMode" type="HideMode"/>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="region" type="Region"/>
		<xs:attribute name="rowspan" type="xs:int"/>
		<xs:attribute name="split" type="xs:boolean"/>
		<xs:attribute name="splitterResize" type="xs:boolean" default="true"/>
		<xs:attribute name="width" type="xs:int"/>
		<xs:attribute name="x" type="xs:int"/>
		<xs:attribute name="y" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="AbstractLayout" abstract="true">
		<xs:attribute name="itemCls" type="xs:string"/>
		<xs:attribute name="padding" type="xs:string"/>
		<xs:attribute name="reserveScrollbar" type="xs:boolean" default="false"/>
	</xs:complexType>
	<xs:complexType name="AutoLayout">
		<xs:complexContent>
			<xs:extension base="AbstractLayout"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AnchorLayout">
		<xs:complexContent>
			<xs:extension base="AbstractLayout">
				<xs:attribute name="defaultAnchor" type="xs:string" default="100%"/>
				<xs:attribute name="manageOverflow" type="xs:int" default="2"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbsoluteLayout">
		<xs:complexContent>
			<xs:extension base="AnchorLayout">
				<xs:attribute name="ignoreOnContentChange" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LayoutPack">
		<xs:restriction base="xs:string">
			<xs:enumeration value="start"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="end"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HBoxLayoutAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top"/>
			<xs:enumeration value="middle"/>
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="stretch"/>
			<xs:enumeration value="stretchmax"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VBoxLayoutAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="stretch"/>
			<xs:enumeration value="stretchmax"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BoxLayout" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractLayout">
				<xs:attribute name="constrainAlign" type="xs:boolean" default="false"/>
				<xs:attribute name="pack" type="LayoutPack" default="start"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HBoxLayout">
		<xs:complexContent>
			<xs:extension base="BoxLayout">
				<xs:attribute name="align" type="HBoxLayoutAlign" default="top"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VBoxLayout">
		<xs:complexContent>
			<xs:extension base="BoxLayout">
				<xs:attribute name="align" type="VBoxLayoutAlign"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccordionLayout">
		<xs:complexContent>
			<xs:extension base="VBoxLayout">
				<xs:attribute name="activeOnTop" type="xs:boolean" default="false"/>
				<xs:attribute name="animate" type="xs:boolean" default="true"/>
				<xs:attribute name="collapseFirst" type="xs:boolean"/>
				<xs:attribute name="fill" type="xs:boolean" default="true"/>
				<xs:attribute name="hideCollapseTool" type="xs:boolean" default="false"/>
				<xs:attribute name="multi" type="xs:boolean" default="false"/>
				<xs:attribute name="titleCollapse" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Region">
		<xs:restriction base="xs:string">
			<xs:enumeration value="north"/>
			<xs:enumeration value="south"/>
			<xs:enumeration value="east"/>
			<xs:enumeration value="west"/>
			<xs:enumeration value="center"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BorderLayout">
		<xs:complexContent>
			<xs:extension base="AbstractLayout"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ColumnLayout">
		<xs:complexContent>
			<xs:extension base="AbstractLayout"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FitLayout">
		<xs:complexContent>
			<xs:extension base="AbstractLayout"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CenterLayout">
		<xs:complexContent>
			<xs:extension base="FitLayout"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TableLayout">
		<xs:complexContent>
			<xs:extension base="AbstractLayout">
				<xs:attribute name="columns" type="xs:int"/>
				<xs:attribute name="tableAttrs" type="xs:string"/>
				<xs:attribute name="tdAttrs" type="xs:string"/>
				<xs:attribute name="trAttrs" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cancel"/>
			<xs:enumeration value="change"/>
			<xs:enumeration value="click"/>
			<xs:enumeration value="ok"/>
			<xs:enumeration value="no"/>
			<xs:enumeration value="select"/>
			<xs:enumeration value="selectionchange"/>
			<xs:enumeration value="yes"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="loadRecord"/>
			<xs:enumeration value="submit"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Listener">
		<xs:sequence>
			<xs:element name="parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="action" type="ActionType" use="required"/>
		<xs:attribute name="class" type="xs:string" use="optional"/>
		<xs:attribute name="event" type="EventType" use="required"/>
		<xs:attribute name="itemsToUpdate" type="xs:string"/>
		<xs:attribute name="method" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ImageSpec">
		<xs:attribute name="path" type="xs:string" use="required"/>
		<xs:attribute name="external" type="xs:boolean" default="false"/>
	</xs:complexType>
	<xs:complexType name="Xtype">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="parameter" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="xtype" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="XTemplate">
		<xs:sequence>
			<xs:any minOccurs="1" maxOccurs="1" processContents="skip"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataView">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="store" type="AbstractStore" minOccurs="1" maxOccurs="1"/>
					<xs:element name="tpl" type="XTemplate" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="deferEmptyTest" type="xs:boolean" default="true"/>
				<xs:attribute name="itemSelector" type="xs:string" use="required"/>
				<xs:attribute name="mouseOverOutBuffer" type="xs:int" default="20"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Container">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="items" type="ItemSet" minOccurs="0" maxOccurs="1"/>
					<xs:element name="layout" type="AbstractLayout" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="autoScroll" type="xs:boolean" default="true"/>
				<xs:attribute name="border" type="xs:string"/>
				<xs:attribute name="cls" type="xs:string"/>
				<xs:attribute name="columnWidth" type="xs:string"/>
				<xs:attribute name="html" type="xs:string"/>
				<xs:attribute name="margin" type="xs:string"/>
				<xs:attribute name="minHeight" type="xs:int"/>
				<xs:attribute name="maxHeight" type="xs:int"/>
				<xs:attribute name="minWidth" type="xs:int"/>
				<xs:attribute name="maxWidth" type="xs:int"/>
				<xs:attribute name="padding" type="xs:string"/>
				<xs:attribute name="resizable" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							For containers resizable defualts to false,
							but for grid columns it defaults to true.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="shrinkWrap" type="xs:int" default="2"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CollapseDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top"/>
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CollapseMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="header"/>
			<xs:enumeration value="mini"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HeaderPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top"/>
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TitleAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PanelToolType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="close"/>
			<xs:enumeration value="collapse"/>
			<xs:enumeration value="down"/>
			<xs:enumeration value="expand"/>
			<xs:enumeration value="gear"/>
			<xs:enumeration value="help"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="maximize"/>
			<xs:enumeration value="minimize"/>
			<xs:enumeration value="minus"/>
			<xs:enumeration value="next"/>
			<xs:enumeration value="pin"/>
			<xs:enumeration value="plus"/>
			<xs:enumeration value="prev"/>
			<xs:enumeration value="print"/>
			<xs:enumeration value="refresh"/>
			<xs:enumeration value="restore"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="save"/>
			<xs:enumeration value="search"/>
			<xs:enumeration value="toggle"/>
			<xs:enumeration value="unpin"/>
			<xs:enumeration value="up"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PanelTool">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="tooltip" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="stopEvent" type="xs:boolean" default="true"/>
				<xs:attribute name="type" type="PanelToolType" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Panel">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:sequence>
					<xs:element name="icon" type="ImageSpec" minOccurs="0" maxOccurs="1"/>
					<xs:element name="notification" type="Notification" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="title" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="tool" type="PanelTool" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="toolbar" type="Toolbar" minOccurs="0" maxOccurs="2"/>
				</xs:sequence>
				<xs:attribute name="animCollapse" type="xs:boolean" default="true"/>
				<xs:attribute name="bodyPadding" type="xs:string"/>
				<xs:attribute name="collapseDirection" type="CollapseDirection"/>
				<xs:attribute name="collapseFirst" type="xs:boolean" default="true"/>
				<xs:attribute name="collapseMode" type="CollapseMode"/>
				<xs:attribute name="collapsed" type="xs:boolean" default="false"/>
				<xs:attribute name="collapsible" type="xs:boolean" default="false"/>
				<xs:attribute name="headerPosition" type="HeaderPosition" default="top"/>
				<xs:attribute name="hideCollapseTool" type="xs:boolean" default="false"/>
				<xs:attribute name="hideHeader" type="xs:boolean" default="false"/>
				<xs:attribute name="iconCls" type="xs:string"/>
				<xs:attribute name="titleAlign" type="TitleAlign" default="left"/>
				<xs:attribute name="titleCollapse" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Menu">
		<xs:complexContent>
			<xs:extension base="Panel">
				<xs:attribute name="allowOtherMenus" type="xs:boolean" default="false"/>
				<xs:attribute name="enableKeyNav" type="xs:boolean" default="true"/>
				<xs:attribute name="ignoreParentClicks" type="xs:boolean" default="false"/>
				<xs:attribute name="plain" type="xs:boolean" default="false"/>
				<xs:attribute name="showSeparator" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MenuItem">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="icon" type="ImageSpec" minOccurs="0" maxOccurs="1"/>
					<xs:element name="menu" type="Menu" minOccurs="0" maxOccurs="1"/>
					<xs:element name="text" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="tooltip" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="canActivate" type="xs:boolean" default="true"/>
				<xs:attribute name="clickHideDelay" type="xs:int" default="1"/>
				<xs:attribute name="destroyMenu" type="xs:boolean" default="true"/>
				<xs:attribute name="hideOnClick" type="xs:boolean"/>
				<xs:attribute name="href" type="xs:string" default="#"/>
				<xs:attribute name="hrefTarget" type="xs:string"/>
				<xs:attribute name="iconCls" type="xs:string"/>
				<xs:attribute name="menuAlign" type="xs:string" default="tl-tr?"/>
				<xs:attribute name="menuExpandDelay" type="xs:int" default="200"/>
				<xs:attribute name="menuHideDelay" type="xs:int" default="200"/>
				<xs:attribute name="plain" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MenuCheckItem">
		<xs:complexContent>
			<xs:extension base="MenuItem">
				<xs:attribute name="checkChangeDisabled" type="xs:boolean" default="false"/>
				<xs:attribute name="checked" type="xs:boolean" default="false"/>
				<xs:attribute name="group" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MenuSeparatorItem">
		<xs:complexContent>
			<xs:extension base="MenuItem"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ToolbarPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="top"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Toolbar">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:attribute name="enableOverflow" type="xs:boolean" default="false"/>
				<xs:attribute name="position" type="ToolbarPosition" use="required"/>
				<xs:attribute name="vertical" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToolbarFill">
		<xs:complexContent>
			<xs:extension base="Item"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToolbarSeparator">
		<xs:complexContent>
			<xs:extension base="Item"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToolbarSpacer">
		<xs:complexContent>
			<xs:extension base="Item"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToolbarText">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="text" type="str:String" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Align">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Column">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:sequence>
					<xs:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="editor" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="item" type="Item" minOccurs="1" maxOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="emptyCellText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="menuText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="text" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="tooltip" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="align" type="Align" default="left"/>
				<xs:attribute name="dataIndex" type="xs:string"/>
				<xs:attribute name="draggable" type="xs:boolean" default="true"/>
				<xs:attribute name="groupable" type="xs:boolean" default="true"/>
				<xs:attribute name="hideable" type="xs:boolean" default="true"/>
				<xs:attribute name="lockable" type="xs:boolean" default="true"/>
				<xs:attribute name="locked" type="xs:boolean" default="false"/>
				<xs:attribute name="menuDisabled" type="xs:boolean" default="false"/>
				<xs:attribute name="sealed" type="xs:boolean" default="false"/>
				<xs:attribute name="sortable" type="xs:boolean" default="true"/>
				<xs:attribute name="tdCls" type="xs:string"/>
				<xs:attribute name="type" type="DataType" default="auto"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RowNumbererColumn">
		<xs:complexContent>
			<xs:extension base="Column"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionColumn">
		<xs:complexContent>
			<xs:extension base="Column"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BooleanColumn">
		<xs:complexContent>
			<xs:extension base="Column">
				<xs:sequence>
					<xs:element name="falseText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="trueText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="undefinedText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateColumn">
		<xs:complexContent>
			<xs:extension base="Column">
				<xs:attribute name="format" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumberColumn">
		<xs:complexContent>
			<xs:extension base="Column">
				<xs:attribute name="format" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Scroll">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="both"/>
			<xs:enumeration value="horizontal"/>
			<xs:enumeration value="vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TablePanel" abstract="true">
		<xs:complexContent>
			<xs:extension base="Panel">
				<xs:sequence>
					<xs:element name="column" type="Column" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="emptyText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:choice>
						<xs:element name="store" type="AbstractStore" minOccurs="1" maxOccurs="1"/>
						<xs:element name="data" type="RecordSet" minOccurs="1" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="allowDeselect" type="xs:boolean" default="false"/>
				<xs:attribute name="columnLines" type="xs:boolean" default="false"/>
				<xs:attribute name="disableSelection" type="xs:boolean" default="false"/>
				<xs:attribute name="enableColumnHide" type="xs:boolean" default="true"/>
				<xs:attribute name="enableColumnMove" type="xs:boolean" default="true"/>
				<xs:attribute name="enableColumnResize" type="xs:boolean" default="true"/>
				<xs:attribute name="enableLocking" type="xs:boolean" default="false"/>
				<xs:attribute name="hideHeaders" type="xs:boolean" default="false"/>
				<xs:attribute name="rowLines" type="xs:boolean" default="true"/>
				<xs:attribute name="scroll" type="Scroll" default="both"/>
				<xs:attribute name="sortableColumns" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GridPanel">
		<xs:complexContent>
			<xs:extension base="TablePanel">
				<xs:sequence>
					<xs:element name="feature" type="GridFeature" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="plugin" type="GridPlugin" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GridFeature" abstract="true"/>
	<xs:complexType name="FiltersFeature">
		<xs:complexContent>
			<xs:extension base="GridFeature">
				<xs:sequence>
					<xs:element name="menuFilterText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="autoReload" type="xs:boolean" default="true"/>
				<xs:attribute name="encode" type="xs:boolean" default="false"/>
				<xs:attribute name="filterCls" type="xs:string" default="ux-filtered-column"/>
				<xs:attribute name="local" type="xs:boolean" default="false"/>
				<xs:attribute name="paramPrefix" type="xs:string" default="filter"/>
				<xs:attribute name="showMenu" type="xs:boolean" default="true"/>
				<xs:attribute name="updateBuffer" type="xs:int" default="500"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ColumnFilter" abstract="true">
		<xs:attribute name="active" type="xs:boolean" default="false"/>
		<xs:attribute name="dataIndex" type="xs:string"/>
		<xs:attribute name="updateBuffer" type="xs:int" default="500"/>
	</xs:complexType>
	<xs:simpleType name="BooleanFilterDefaultValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="false"/>
			<xs:enumeration value="null"/>
			<xs:enumeration value="true"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BooleanFilter">
		<xs:complexContent>
			<xs:extension base="ColumnFilter">
				<xs:sequence>
					<xs:element name="noText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="yesText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="defaultValue" type="BooleanFilterDefaultValue" default="null"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GridPlugin" abstract="true"/>
	<xs:simpleType name="GridEditingTriggerEvent">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cellclick"/>
			<xs:enumeration value="celldblclick"/>
			<xs:enumeration value="cellfocus"/>
			<xs:enumeration value="rowfocus"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GridEditingPlugin" abstract="true">
		<xs:complexContent>
			<xs:extension base="GridPlugin">
				<xs:attribute name="clicksToEdit" type="xs:int" default="2"/>
				<xs:attribute name="pluginId" type="xs:string"/>
				<xs:attribute name="triggerEvent" type="GridEditingTriggerEvent"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CellEditing">
		<xs:complexContent>
			<xs:extension base="GridEditingPlugin"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RowEditing">
		<xs:complexContent>
			<xs:extension base="GridEditingPlugin">
				<xs:attribute name="autoCancel" type="xs:boolean" default="true"/>
				<xs:attribute name="clicksToMoveEditor" type="xs:int"/>
				<xs:attribute name="errorSummary" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BufferedRendererPlugin">
		<xs:complexContent>
			<xs:extension base="GridPlugin">
				<xs:attribute name="leadingBufferZone" type="xs:int" default="20"/>
				<xs:attribute name="numFromEdge" type="xs:int" default="8"/>
				<xs:attribute name="pluginId" type="xs:string"/>
				<xs:attribute name="scrollToLoadBuffer" type="xs:int" default="200"/>
				<xs:attribute name="synchronousRender" type="xs:boolean" default="true"/>
				<xs:attribute name="trailingBufferZone" type="xs:int" default="10"/>
				<xs:attribute name="variableRowHeight" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TabPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top"/>
			<xs:enumeration value="bottom"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TabPanel">
		<xs:complexContent>
			<xs:extension base="Panel">
				<xs:attribute name="activeTab" type="xs:string" default="0"/>
				<xs:attribute name="deferredRender" type="xs:boolean" default="true"/>
				<xs:attribute name="minTabWidth" type="xs:int"/>
				<xs:attribute name="maxTabWidth" type="xs:int"/>
				<xs:attribute name="plain" type="xs:boolean" default="false"/>
				<xs:attribute name="removePanelHeader" type="xs:boolean" default="true"/>
				<xs:attribute name="tabPosition" type="TabPosition" default="top"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="Labelable">
		<xs:attribute name="autoFitErrors" type="xs:boolean" default="true"/>
		<xs:attribute name="hideEmptyLabel" type="xs:boolean" default="true"/>
		<xs:attribute name="hideLabel" type="xs:boolean" default="false"/>
		<xs:attribute name="labelAlign" type="LabelAlign" default="left"/>
		<xs:attribute name="labelClsExtra" type="xs:string" default=""/>
		<xs:attribute name="labelPad" type="xs:int" default="5"/>
		<xs:attribute name="labelSeparator" type="xs:string" default=":"/>
		<xs:attribute name="labelWidth" type="xs:int" default="100"/>
		<xs:attribute name="msgTarget" type="MsgTarget" default="under"/>
		<xs:attribute name="preventMark" type="xs:boolean" default="false"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="Field">
		<xs:attribute name="disabled" type="xs:boolean" default="false"/>
		<xs:attribute name="submitValue" type="xs:boolean" default="true"/>
		<xs:attribute name="validateOnChange" type="xs:boolean" default="true"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:attributeGroup>
	<xs:complexType name="CheckboxGroup">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:sequence>
					<xs:element name="activeError" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="blankText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="fieldLabel" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="title" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="Field"/>
				<xs:attributeGroup ref="Labelable"/>
				<xs:attribute name="allowBlank" type="xs:boolean" default="true"/>
				<xs:attribute name="columns" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ArrowAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="right"/>
			<xs:enumeration value="bottom"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IconAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="left"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ButtonScale">
		<xs:restriction base="xs:string">
			<xs:enumeration value="small"/>
			<xs:enumeration value="medium"/>
			<xs:enumeration value="large"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TextAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="center"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Button">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="icon" type="ImageSpec" minOccurs="0" maxOccurs="1"/>
					<xs:element name="menu" type="Menu" minOccurs="0" maxOccurs="1"/>
					<xs:element name="text" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="tooltip" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="allowDepress" type="xs:boolean" default="true"/>
				<xs:attribute name="arrowAlign" type="ArrowAlign" default="right"/>
				<xs:attribute name="border" type="xs:string"/>
				<xs:attribute name="disabled" type="xs:boolean" default="false"/>
				<xs:attribute name="enableToggle" type="xs:boolean" default="false"/>
				<xs:attribute name="handleMouseEvents" type="xs:boolean" default="true"/>
				<xs:attribute name="iconAlign" type="IconAlign" default="left"/>
				<xs:attribute name="iconCls" type="xs:string"/>
				<xs:attribute name="menuAlign" type="xs:string" default="tl-bl?">
					<xs:annotation>
						<xs:documentation>
							See Ext.Element.alignTo
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="overflowText" type="xs:string"/>
				<xs:attribute name="pressed" type="xs:boolean" default="false"/>
				<xs:attribute name="scale" type="ButtonScale" default="small"/>
				<xs:attribute name="showEmptyMenu" type="xs:boolean" default="false"/>
				<xs:attribute name="shrinkWrap" type="xs:int" default="3"/>
				<xs:attribute name="tabIndex" type="xs:int"/>
				<xs:attribute name="textAlign" type="TextAlign" default="center"/>
				<xs:attribute name="toggleGroup" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="LabelAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="top"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgTarget">
		<xs:restriction base="xs:string">
			<xs:enumeration value="qtip"/>
			<xs:enumeration value="title"/>
			<xs:enumeration value="under"/>
			<xs:enumeration value="side"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractField" abstract="true">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="activeError" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="fieldLabel" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="invalidText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attributeGroup ref="Field"/>
				<xs:attributeGroup ref="Labelable"/>
				<xs:attribute name="readOnly" type="xs:boolean" default="false"/>
				<xs:attribute name="tabIndex" type="xs:int"/>
				<xs:attribute name="validateOnBlur" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BoxLabelAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="before"/>
			<xs:enumeration value="after"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Checkbox">
		<xs:complexContent>
			<xs:extension base="AbstractField">
				<xs:sequence>
					<xs:element name="boxLabel" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="boxLabelAlign" type="BoxLabelAlign" default="after"/>
				<xs:attribute name="checked" type="xs:boolean" default="false"/>
				<xs:attribute name="inputValue" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Radio">
		<xs:complexContent>
			<xs:extension base="Checkbox">
				<xs:attribute name="radioGroupName" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DisplayField">
		<xs:complexContent>
			<xs:extension base="AbstractField"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HiddenField">
		<xs:complexContent>
			<xs:extension base="AbstractField"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="VType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="alpha"/>
			<xs:enumeration value="alphanum"/>
			<xs:enumeration value="email"/>
			<xs:enumeration value="url"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TextField">
		<xs:complexContent>
			<xs:extension base="AbstractField">
				<xs:sequence>
					<xs:element name="blankText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="emptyText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="maxLengthText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="minLengthText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="regexText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="allowBlank" type="xs:boolean" default="true"/>
				<xs:attribute name="allowOnlyWhitespace" type="xs:boolean" default="true"/>
				<xs:attribute name="disableKeyFilter" type="xs:boolean" default="false"/>
				<xs:attribute name="enforceMaxLength" type="xs:boolean" default="false"/>
				<xs:attribute name="grow" type="xs:boolean" default="false"/>
				<xs:attribute name="growMax" type="xs:int" default="800"/>
				<xs:attribute name="growMin" type="xs:int" default="30"/>
				<xs:attribute name="maxLength" type="xs:int"/>
				<xs:attribute name="minLength" type="xs:int"/>
				<xs:attribute name="regex" type="xs:string"/>
				<xs:attribute name="selectOnFocus" type="xs:boolean" default="false"/>
				<xs:attribute name="vtype" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextArea">
		<xs:complexContent>
			<xs:extension base="TextField">
				<xs:attribute name="cols" type="xs:int" default="20"/>
				<xs:attribute name="enterIsSpecial" type="xs:boolean" default="false"/>
				<xs:attribute name="preventScrollbars" type="xs:boolean" default="false"/>
				<xs:attribute name="rows" type="xs:int" default="4"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TriggerField" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractField">
				<xs:attribute name="editable" type="xs:boolean" default="true"/>
				<xs:attribute name="hideTrigger" type="xs:boolean" default="false"/>
				<xs:attribute name="selectOnFocus" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FileField">
		<xs:complexContent>
			<xs:extension base="TriggerField">
				<xs:sequence>
					<xs:element name="buttonText" type="str:String"/>
				</xs:sequence>
				<xs:attribute name="buttonMargin" type="xs:int" default="3"/>
				<xs:attribute name="buttonOnly" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PickerField" abstract="true">
		<xs:complexContent>
			<xs:extension base="TriggerField">
				<xs:attribute name="matchFieldWidth" type="xs:boolean" default="true"/>
				<xs:attribute name="pickerAlign" type="xs:string" default="tl-bl?"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="QueryMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="remote"/>
			<xs:enumeration value="local"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TriggerAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="all"/>
			<xs:enumeration value="query"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ComboBox">
		<xs:complexContent>
			<xs:extension base="PickerField">
				<xs:sequence>
					<xs:element name="valueNotFoundText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:choice>
						<xs:element name="store" type="AbstractStore" minOccurs="0" maxOccurs="1"/>
						<xs:element name="data" type="RecordSet" minOccurs="0" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="autoSelect" type="xs:boolean" default="true"/>
				<xs:attribute name="displayField" type="xs:string" default="display"/>
				<xs:attribute name="enableRegEx" type="xs:boolean"/>
				<xs:attribute name="forceSelection" type="xs:boolean" default="true"/>
				<xs:attribute name="growToLongestValue" type="xs:boolean" default="true"/>
				<xs:attribute name="minChars" type="xs:int"/>
				<xs:attribute name="multiSelect" type="xs:boolean" default="false"/>
				<xs:attribute name="pageSize" type="xs:int" default="0"/>
				<xs:attribute name="queryCaching" type="xs:boolean" default="true"/>
				<xs:attribute name="queryDelay" type="xs:int"/>
				<xs:attribute name="queryMode" type="QueryMode" default="remote"/>
				<xs:attribute name="queryParam" type="xs:string" default="query"/>
				<xs:attribute name="selectOnTab" type="xs:boolean" default="true"/>
				<xs:attribute name="triggerAction" type="TriggerAction" default="all"/>
				<xs:attribute name="typeAhead" type="xs:boolean" default="false"/>
				<xs:attribute name="typeAheadDelay" type="xs:int" default="250"/>
				<xs:attribute name="valueField" type="xs:string" default="value"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimeField">
		<xs:complexContent>
			<xs:extension base="PickerField">
				<xs:sequence>
					<xs:element name="maxText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="minText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="format" type="xs:string" default="g:i A"/>
				<xs:attribute name="increment" type="xs:int" default="15"/>
				<xs:attribute name="maxValue" type="xs:string"/>
				<xs:attribute name="minValue" type="xs:string"/>
				<xs:attribute name="pickerMaxHeight" type="xs:int" default="300"/>
				<xs:attribute name="selectOnTab" type="xs:boolean" default="true"/>
				<xs:attribute name="snapToIncrement" type="xs:boolean" default="false"/>
				<xs:attribute name="submitFormat" type="xs:string" default="g:i A"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DateField">
		<xs:complexContent>
			<xs:extension base="PickerField">
				<xs:sequence>
					<xs:element name="disabledDatesText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="disabledDaysText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="maxText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="minText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="disabledDates" type="xs:string"/>
				<xs:attribute name="disabledDays" type="xs:string"/>
				<xs:attribute name="format" type="xs:string" default="m/d/Y"/>
				<xs:attribute name="minValue" type="xs:string"/>
				<xs:attribute name="maxValue" type="xs:string"/>
				<xs:attribute name="showToday" type="xs:boolean" default="true"/>
				<xs:attribute name="startDay" type="xs:int" default="0"/>
				<xs:attribute name="submitFormat" type="xs:string" default="g:i A"/>
				<xs:attribute name="useStrict" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumberField">
		<xs:complexContent>
			<xs:extension base="TriggerField">
				<xs:sequence>
					<xs:element name="maxText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="minText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="nanText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="negativeText" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="allowDecimals" type="xs:boolean" default="true"/>
				<xs:attribute name="autoStripChars" type="xs:boolean" default="false"/>
				<xs:attribute name="decimalPrecison" type="xs:int" default="2"/>
				<xs:attribute name="decimalSeparator" type="xs:string" default="."/>
				<xs:attribute name="maxValue" type="xs:float"/>
				<xs:attribute name="minValue" type="xs:float"/>
				<xs:attribute name="step" type="xs:float" default="1"/>
				<xs:attribute name="submitLocaleSeparator" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Slider">
		<xs:complexContent>
			<xs:extension base="AbstractField">
				<xs:attribute name="animate" type="xs:boolean" default="true"/>
				<xs:attribute name="clickToChange" type="xs:boolean" default="true"/>
				<xs:attribute name="constrainThumbs" type="xs:boolean" default="true"/>
				<xs:attribute name="decimalPrecision" type="xs:int" default="0"/>
				<xs:attribute name="disableRounding" type="xs:boolean" default="false"/>
				<xs:attribute name="increment" type="xs:float" default="0"/>
				<xs:attribute name="keyIncrement" type="xs:float" default="1"/>
				<xs:attribute name="maxValue" type="xs:float"/>
				<xs:attribute name="minValue" type="xs:float"/>
				<xs:attribute name="useTips" type="xs:boolean" default="true"/>
				<xs:attribute name="verical" type="xs:boolean" default="false"/>
				<xs:attribute name="zeroBasedSnapping" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HTMLEditor">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:attribute name="enableAlignments" type="xs:boolean" default="true"/>
				<xs:attribute name="enableColors" type="xs:boolean" default="true"/>
				<xs:attribute name="enableFonts" type="xs:boolean" default="true"/>
				<xs:attribute name="enableFontSize" type="xs:boolean" default="true"/>
				<xs:attribute name="enableFormat" type="xs:boolean" default="true"/>
				<xs:attribute name="enableLinks" type="xs:boolean" default="true"/>
				<xs:attribute name="enableLists" type="xs:boolean" default="true"/>
				<xs:attribute name="enableSourceEdit" type="xs:boolean" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Image">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="altText" type="str:String" minOccurs="0" maxOccurs="1"/>
					<xs:element name="image" type="ImageSpec" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Parameter">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:simpleType name="DataType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="auto"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="int"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="date"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Field">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type" type="DataType" default="auto"/>
	</xs:complexType>
	<xs:complexType name="Model">
		<xs:sequence>
			<xs:element name="field" type="Field" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="idProperty" type="xs:string" default="id"/>
	</xs:complexType>
	<xs:simpleType name="BatchUpdateMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="complete"/>
			<xs:enumeration value="operation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SortDirection">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASC"/>
			<xs:enumeration value="DESC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractStore" abstract="true">
		<xs:sequence>
			<xs:element name="model" type="Model" minOccurs="0" maxOccurs="1"/>
			<xs:element name="listener" type="Listener" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="proxy" type="AbstractProxy" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="autoDestroy" type="xs:boolean" default="true"/>
		<xs:attribute name="autoLoad" type="xs:boolean"/>
		<xs:attribute name="autoSync" type="xs:boolean" default="false"/>
		<xs:attribute name="batchUpdateMode" type="BatchUpdateMode" default="operation"/>
		<xs:attribute name="defaultSortDirection" type="SortDirection" default="ASC"/>
		<xs:attribute name="filterOnLoad" type="xs:boolean" default="true"/>
		<xs:attribute name="modelName" type="xs:string" use="optional"/>
		<xs:attribute name="remoteFilter" type="xs:boolean" default="false"/>
		<xs:attribute name="remoteSort" type="xs:boolean" default="false"/>
		<xs:attribute name="sortOnLoad" type="xs:boolean" default="true"/>
		<xs:attribute name="storeId" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="RecordField">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="populationIndex" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Record">
		<xs:sequence>
			<xs:element name="field" type="RecordField" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="selected" type="xs:boolean" default="false"/>
	</xs:complexType>
	<xs:complexType name="RecordSet">
		<xs:sequence>
			<xs:element name="record" type="Record" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExistingStore">
		<xs:complexContent>
			<xs:extension base="AbstractStore">
				<xs:attribute name="sourceStoreId" type="xs:string" use="required"/>
				<xs:attribute name="clone" type="xs:boolean" default="false"/>
				<xs:attribute name="watchForChanges" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Store">
		<xs:complexContent>
			<xs:extension base="AbstractStore">
				<xs:sequence>
					<xs:element name="data" type="RecordSet" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="buffered" type="xs:boolean" default="false"/>
				<xs:attribute name="clearOnPageLoad" type="xs:boolean" default="true"/>
				<xs:attribute name="clearRemovedOnLoad" type="xs:boolean" default="true"/>
				<xs:attribute name="groupDir" type="SortDirection" default="ASC"/>
				<xs:attribute name="groupField" type="xs:string"/>
				<xs:attribute name="leadingBufferZone" type="xs:int" default="200"/>
				<xs:attribute name="pageSize" type="xs:int" default="25"/>
				<xs:attribute name="purgePageCount" type="xs:int" default="5"/>
				<xs:attribute name="remoteGroup" type="xs:boolean" default="false"/>
				<xs:attribute name="sortOnFilter" type="xs:boolean" default="true"/>
				<xs:attribute name="trailingBufferZone" type="xs:int" default="25"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractProxy" abstract="true"/>
	<xs:complexType name="ServerProxy" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractProxy">
				<xs:sequence>
					<xs:element name="extraParam" type="Parameter" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="directionParam" type="xs:string" default="dir"/>
				<xs:attribute name="filterParam" type="xs:string" default="filter"/>
				<xs:attribute name="groupDirectionParam" type="xs:string" default="groupDir"/>
				<xs:attribute name="groupParam" type="xs:string" default="group"/>
				<xs:attribute name="idParam" type="xs:string" default="id"/>
				<xs:attribute name="limit" type="xs:string" default="limit"/>
				<xs:attribute name="noCache" type="xs:boolean" default="true"/>
				<xs:attribute name="pageParam" type="xs:string" default="page"/>
				<xs:attribute name="simpleGroupMode" type="xs:boolean" default="false"/>
				<xs:attribute name="simpleSortMode" type="xs:boolean" default="false"/>
				<xs:attribute name="sortParam" type="xs:string" default="sort"/>
				<xs:attribute name="startParam" type="xs:string" default="start"/>
				<xs:attribute name="timeout" type="xs:int" default="30000"/>
				<xs:attribute name="url" type="xs:string" default="ApplicationServlet"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AjaxProxy">
		<xs:complexContent>
			<xs:extension base="ServerProxy">
				<xs:attribute name="Class" type="xs:string" use="required"/>
				<xs:attribute name="Method" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ClientProxy" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractProxy"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MemoryProxy">
		<xs:complexContent>
			<xs:extension base="ClientProxy"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PagingMemoryProxy">
		<xs:complexContent>
			<xs:extension base="MemoryProxy"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Chart">
		<xs:complexContent>
			<xs:extension base="Item">
				<xs:sequence>
					<xs:element name="axis" type="AbstractAxis" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="background" type="ChartBackground" minOccurs="0" maxOccurs="1"/>
					<xs:element name="legend" type="ChartLegend" minOccurs="0" maxOccurs="1"/>
					<xs:element name="series" type="AbstractSeries" minOccurs="1" maxOccurs="unbounded"/>
					<xs:choice>
						<xs:element name="store" type="AbstractStore" minOccurs="1" maxOccurs="1"/>
						<xs:element name="data" type="RecordSet" minOccurs="1" maxOccurs="1"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="animate" type="xs:boolean" default="false"/>
				<xs:attribute name="insetPadding" type="xs:int" default="10"/>
				<xs:attribute name="theme" type="xs:string" default="Base"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AxisPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="top"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxisLabelDisplay">
		<xs:restriction base="xs:string">
			<xs:enumeration value="rotate"/>
			<xs:enumeration value="middle"/>
			<xs:enumeration value="insideStart"/>
			<xs:enumeration value="insideEnd"/>
			<xs:enumeration value="outside"/>
			<xs:enumeration value="over"/>
			<xs:enumeration value="under"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AxisLabelOrientation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="horizontal"/>
			<xs:enumeration value="vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AxisLabel">
		<xs:attribute name="display" type="AxisLabelDisplay" default="none"/>
		<xs:attribute name="color" type="xs:string" default="#000"/>
		<xs:attribute name="contrast" type="xs:boolean" default="false"/>
		<xs:attribute name="field" type="xs:string" default="name"/>
		<xs:attribute name="minMargin" type="xs:int" default="50"/>
		<xs:attribute name="font" type="xs:string" default="11px Helvetica, sans-serif"/>
		<xs:attribute name="orientation" type="AxisLabelOrientation" default="horizontal"/>
	</xs:complexType>
	<xs:complexType name="AbstractAxis" abstract="true">
		<xs:sequence>
			<xs:element name="field" type="Field" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="label" type="AxisLabel" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Axis" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractAxis">
				<xs:sequence>
					<xs:element name="title" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="adjustEnd" type="xs:boolean" default="true"/>
				<xs:attribute name="dashSize" type="xs:int" default="3"/>
				<xs:attribute name="grid" type="xs:boolean" default="false"/>
				<xs:attribute name="length" type="xs:int" default="0"/>
				<xs:attribute name="majorTickSteps" type="xs:int"/>
				<xs:attribute name="minorTickSteps" type="xs:int" default="0"/>
				<xs:attribute name="position" type="AxisPosition"/>
				<xs:attribute name="width" type="xs:int" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CategoryAxis">
		<xs:complexContent>
			<xs:extension base="Axis">
				<xs:attribute name="calculateCategoryAxis" type="xs:boolean" default="false"/>
				<xs:attribute name="categoryNames" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumericAxis">
		<xs:complexContent>
			<xs:extension base="Axis">
				<xs:attribute name="adjustMaximumByMajorUnit" type="xs:boolean" default="false"/>
				<xs:attribute name="adjustMinimumByMajorUnit" type="xs:boolean" default="false"/>
				<xs:attribute name="decimals" type="xs:int" default="2"/>
				<xs:attribute name="maximum" type="xs:float"/>
				<xs:attribute name="minimum" type="xs:float"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimeAxis">
		<xs:complexContent>
			<xs:extension base="NumericAxis">
				<xs:attribute name="constrain" type="xs:boolean" default="false"/>
				<xs:attribute name="dateFormat" type="xs:string"/>
				<xs:attribute name="fromDate" type="xs:string"/>
				<xs:attribute name="step" type="xs:string"/>
				<xs:attribute name="toDate" type="xs:string"/>
			</xs:extension>
			<!--Set string value to javascript value, will be output exactly. i.e. "[Ex.Date.Day, 1]"-->
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GaugeAxis">
		<xs:complexContent>
			<xs:extension base="AbstractAxis">
				<xs:sequence>
					<xs:element name="title" type="str:String" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="margin" type="xs:int" default="10"/>
				<xs:attribute name="maximum" type="xs:float" use="required"/>
				<xs:attribute name="minimum" type="xs:float" use="required"/>
				<xs:attribute name="steps" type="xs:int" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadialAxis">
		<xs:complexContent>
			<xs:extension base="AbstractAxis">
				<xs:attribute name="maximum" type="xs:float"/>
				<xs:attribute name="steps" type="xs:int" default="10"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChartBackground">
		<xs:sequence>
			<xs:element name="image" type="ImageSpec" minOccurs="0" maxOccurs="1"/>
			<xs:element name="gradient" type="Gradient" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="fill" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="GradientStop">
		<xs:attribute name="key" type="xs:int" use="required"/>
		<xs:attribute name="color" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Gradient">
		<xs:sequence>
			<xs:element name="stop" type="GradientStop" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="angle" type="xs:int"/>
	</xs:complexType>
	<xs:simpleType name="ChartLegendPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bottom"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="left"/>
			<xs:enumeration value="right"/>
			<xs:enumeration value="top"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ChartLegend">
		<xs:attribute name="boxFill" type="xs:string" default="#FFF"/>
		<xs:attribute name="boxStroke" type="xs:string" default="#000"/>
		<xs:attribute name="boxStrokeWidth" type="xs:int" default="1"/>
		<xs:attribute name="boxZIndex" type="xs:int" default="100"/>
		<xs:attribute name="itemSpacing" type="xs:int" default="10"/>
		<xs:attribute name="labelColor" type="xs:string" default="#000"/>
		<xs:attribute name="labelFont" type="xs:string" default="12px Helvetica, sans-serif"/>
		<xs:attribute name="padding" type="xs:int" default="5"/>
		<xs:attribute name="position" type="ChartLegendPosition" default="bottom"/>
		<xs:attribute name="update" type="xs:boolean" default="true"/>
		<xs:attribute name="visible" type="xs:boolean" default="true"/>
		<xs:attribute name="x" type="xs:int" default="0"/>
		<xs:attribute name="y" type="xs:int" default="0"/>
	</xs:complexType>
	<xs:simpleType name="SeriesLabelDisplay">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insideEnd"/>
			<xs:enumeration value="insideStart"/>
			<xs:enumeration value="middle"/>
			<xs:enumeration value="none"/>
			<xs:enumeration value="outside"/>
			<xs:enumeration value="over"/>
			<xs:enumeration value="rotate"/>
			<xs:enumeration value="under"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeriesLabelOrientation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="horizontal"/>
			<xs:enumeration value="vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeriesLabel">
		<xs:sequence>
			<xs:element name="field" type="Field" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="color" type="xs:string" default="#000"/>
		<xs:attribute name="contrast" type="xs:boolean" default="false"/>
		<xs:attribute name="display" type="SeriesLabelDisplay" default="none"/>
		<xs:attribute name="minMargin" type="xs:int" default="50"/>
		<xs:attribute name="font" type="xs:string" default="11px Helvetica, sans-serif"/>
		<xs:attribute name="orientation" type="SeriesLabelOrientation" default="horizontal"/>
	</xs:complexType>
	<xs:complexType name="AbstractSeries" abstract="true">
		<xs:sequence>
			<xs:element name="label" type="SeriesLabel" minOccurs="0" maxOccurs="1"/>
			<!--<xs:element name="tips" type="ToolTip" minOccurs="0" maxOccurs="1"/>-->
			<xs:element name="title" type="str:String" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="highlight" type="xs:boolean" default="false"/>
		<xs:attribute name="showInLegend" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="CartesianSeries" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractSeries">
				<xs:sequence>
					<xs:element name="xField" type="Field" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="yField" type="Field" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="axis" type="AxisPosition" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AreaSeries">
		<xs:complexContent>
			<xs:extension base="CartesianSeries"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BarSeries">
		<xs:complexContent>
			<xs:extension base="CartesianSeries">
				<xs:attribute name="column" type="xs:boolean" default="false"/>
				<xs:attribute name="groupGutter" type="xs:float" default="38.2"/>
				<xs:attribute name="gutter" type="xs:float" default="38.2"/>
				<xs:attribute name="stacked" type="xs:boolean" default="false"/>
				<xs:attribute name="xPadding" type="xs:int"/>
				<xs:attribute name="yPadding" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineSeries">
		<xs:complexContent>
			<xs:extension base="CartesianSeries">
				<xs:attribute name="fill" type="xs:boolean" default="false"/>
				<xs:attribute name="selectionTolerance" type="xs:int" default="20"/>
				<xs:attribute name="showMarkers" type="xs:boolean" default="true"/>
				<xs:attribute name="smooth" type="xs:int" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ScatterSeries">
		<xs:complexContent>
			<xs:extension base="CartesianSeries"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GaugeSeries">
		<xs:complexContent>
			<xs:extension base="AbstractSeries">
				<xs:sequence>
					<xs:element name="angleField" type="Field" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="donut" type="xs:int" default="0"/>
				<xs:attribute name="highlightDuration" type="xs:int" default="150"/>
				<xs:attribute name="needle" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PieSeries">
		<xs:complexContent>
			<xs:extension base="AbstractSeries">
				<xs:sequence>
					<xs:element name="angleField" type="Field" minOccurs="1" maxOccurs="1"/>
					<xs:element name="lengthField" type="Field" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="donut" type="xs:int" default="0"/>
				<xs:attribute name="highlightDuration" type="xs:int" default="150"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadarSeries">
		<xs:complexContent>
			<xs:extension base="AbstractSeries">
				<xs:sequence>
					<xs:element name="xField" type="Field" minOccurs="1" maxOccurs="1"/>
					<xs:element name="yField" type="Field" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="highlightDuration" type="xs:int" default="150"/>
				<xs:attribute name="showMarkers" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
